<div class="div-map">
  <div class="map" #map >
    
  </div>
  <div class="div-x">
    <div class="div-bottoni">
      <ion-button (click)="caricaPing()">motra ping</ion-button>
      <ion-button (click)="cancellaPing()">cancella ping</ion-button>
      <ion-button (click)="mostraPoszione()">mostra posizione</ion-button>
      <ion-button (click)="centraPoszione()">centra posizione</ion-button>

    </div>
    
    <!-- <google-map
      width="100%"
      height="110%"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
    >
    </google-map>
  </div> -->
 

  <app-lista-ping *ngIf="mostraLista"></app-lista-ping>
  <div class="div-modal">
    <ion-modal  [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Aggiungi Ping</ion-title>
            <ion-buttons slot="end" >
              <ion-button (click)="setOpen()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
         <app-add-ping (datiAlGenitore)="gestisciDatiDalFiglio($event)" [idPing]="idPing"></app-add-ping>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  
<div class="div-modal-ping">
  <ion-modal style="height: 300px;" [isOpen]="isModalPingOpen">
    <ng-template>
      
      <ion-content class="ion-modal-ping">
       <app-modal-ping></app-modal-ping>
      </ion-content>
    </ng-template>
  </ion-modal>

</div>
  


  <div class="div-tabs">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon class="ion-activable" name="play-circle"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          Mostra Ping
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button style="height: 110px; position: abstract" >
          <ion-icon (click)="setOpen()"
            style="font-size: 110px; position: abstract"
            name="add"
          ></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Profilo
        </ion-tab-button>
        <ion-tab-button  >
          <ion-icon (click)="openListaPing()" name="search"></ion-icon>
          Lista Ping
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</div>
